.get-in-touch-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #030218;
}

.get-in-touch-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1200px;
  width: 100%;
  color: white;
}

.get-in-touch-image {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  opacity: 0;
  transform: translateX(-100px);
  animation: fadeInLeft 1s forwards;
}

.get-in-touch-image img {
  max-width: 100%;
  height: auto;
}

.get-in-touch-form-container {
  width: 100%;
  opacity: 0;
  transform: translateX(100px);
  animation: fadeInRight 1s forwards;
  color: white;
}

.get-in-touch-form-container h2 {
  padding-bottom: 60px;
  color: white;
  text-align: center;
  font-size: 2.5rem;
  font-weight: bold;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.get-in-touch-form-container p {
  margin-bottom: 20px;
  font-size: 1.7rem;
  text-align: center;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color: white;
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  border-style: solid;
  border-width: 3px;
  border-radius: 15px;
  padding: 20px;
}


.form-group {
  display: flex;
  flex-direction: column;

}

label {
  margin-bottom: 5px;
  color: white;
  font-size: 1.2rem;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

input,
textarea {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  padding: 10px;
  background-color: #030218;
  color: white;
  border: 3px solid white;
  border-radius: 35px;
  cursor: pointer;
  font-weight: bold !important;
}

button:hover {
  background-color: white;
  color: #030218;
}

@media (min-width: 768px) {
  .get-in-touch-content {
    flex-direction: row;
  }

  .get-in-touch-image,
  .get-in-touch-form-container {
    width: 50%;
    margin-bottom: 0;
  }
}

@keyframes fadeInLeft {
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeInRight {
  to {
    opacity: 1;
    transform: translateX(0);
  }
}