.App {
  text-align: center;
}

body,html{
  background-color:  #030218;
  
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden; /* Prevent horizontal scroll */
   
  
}
